body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body > .container {
    flex: 1 0 auto;
    margin: 70px auto 15px;
}

.footer {
    flex: 0 0;
    width: 100%;
    background-color: #212121;
    color: #ccc;
    padding: 10px;
}

.tag_badge {
    padding: 0.1rem 0.4rem;
    font-size: 0.9rem;
    border-radius: 0.2rem;
}

#navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtitle {
    font-size: 0.9rem;
    margin: 0.3rem 0;
}

.subtitle > span {
    margin-right: 0.4rem;
    color: #555;
}

.comment_href {
    color: inherit;
}
