{% extends "core.html" %}

{% block container %}
{{ description }}

<ul class="list-group">
{% for post in posts %}
	<li class="list-group-item">
	<a href="/posts/{{ post.path }}">{{ post.title }}</a>
	{% if post.pinned is sameas true %}
		<span class="badge badge-primary"><i class="fa fa-thumb-tack"></i></span>
	{% endif %}
	<small>{{ post.date }}</small>
    <br>
	{% for tag in post.tags %}
		<a class="btn btn-secondary btn-sm" href="/tags/{{ tag }}" role="button">{{ tag }}</a>
	{% endfor %}
	</li>
{% endfor %}
</ul>
{% endblock container %}
