{% extends "core.html" %}

{% set title = post.title %}
{% block head_extension %}
	<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite.css') }}">
{% endblock %}

{% block container %}
	<h1>{{ post.title }}</h1>
	<small>{{ post.date }}</small>
	<br>
	{% for tag in post.tags %}
		<a class="btn btn-secondary tag_badge" href="/tags/{{ tag }}" role="button">{{ tag }}</a>
	{% endfor %}
	<hr>
	{{ post.html|safe }}
{% endblock container %}
