{% extends "core.html" %}

{% set title = post.title %}
{% block head_extension %}
	<link rel="stylesheet" href="{{ url_for('pygments_css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/codehilite.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/toc.js') }}"></script>
	<script type="text/javascript" id="MathJax-script" async
	        src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block container %}
	<div class="post_info">
		<h1 style="margin-bottom: 0;">{{ post.title }}</h1>
		{% from 'posts.html' import create_post_subtitle %}
		{{ create_post_subtitle(post, false) }}
		<a class="btn btn-success tag_badge" href="/categories/{{ post.category }}" role="button">
			<i class="fa fa-code-fork"></i> {{ post.category }}
		</a>
		{% for tag in post.tags %}
			<a class="btn btn-secondary tag_badge" href="/tags/{{ tag }}" role="button">{{ tag }}</a>
		{% endfor %}
	</div>
	<div id="post_body" class="row">
		<div id="post_left_side" class="col-sm-9">
			<hr>
			{{ post.html|safe }}
		</div>
		<div id="post_right_side" class="col-sm-3">
			<div id="toc"></div>
			<script>create_toc();</script>
		</div>
	</div>
	<div>
		<div id="comment" class="col-sm-9">
			<div id="disqus_thread"></div>
		</div>
		<script>
		/**
		*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		*/
		var disqus_config = function () {
			this.page.url = "https://tunc2112.me/{{ post.path }}";  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = "{{ post.path }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};

		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		s.src = 'https://tunc2112.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
{% endblock container %}
